@import "tailwindcss";

@font-face {
  font-family: 'Shabnam';
  src: url('fonts/Shabnam.eot');
  src: url('fonts/Shabnam.eot?#iefix') format('embedded-opentype'),
    url('fonts/Shabnam.woff2') format('woff2'),
    url('fonts/Shabnam.woff') format('woff'),
    url('fonts/Shabnam.ttf') format('truetype'),
    url('fonts/Shabnam.svg#Shabnam') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Shabnam';
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Shabnam';
}
